{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-4">Modifier la catégorie</h1>
    
    {{ include('admin/categories/_form.html.twig') }}
    
    <a href="{{ path('admin_categories_index') }}" class="btn btn-secondary">Retour à la liste</a>
</div>
{% endblock %}