{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>🔥 Bienvenue sur la page d'accueil !</h1>

{# Affichage des messages flash #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<p>Vous êtes connecté si vous voyez votre session active.</p>

{% endblock %}